---
layout: default
css_class: home
regenerate: true
---
<section class="posts h-feed">
  {% for p in paginator.posts %}
    <article class="post h-entry">
	  {% if p.microblog == false %}
		<h1><a href="{{ p.url }}">{{ p.title }}</a></h1>
	  {% endif %}
      <div class="e-content">{{ p.content }}</div>
      <footer class="post__footer">
        <small><time class="dt-published" datetime="{{ p.date | date_to_xmlschema }}"><a href="{{ p.url }}" title="Permalink to Microblog post" class="u-url">{{ p.date | date: "%a, %b %d, %Y at %I:%M%P" }}</time></a></small>
      </footer>
    </article>
  {% endfor %}
</section>

{% if paginator.previous_page or paginator.next_page %}
    {% include pagination.html %}
{% endif %}